body {
  
  background: linear-gradient(
    109.6deg,
    rgba(0, 0, 0, 0.93) 11.2%,
    #3f3d3d 78.9%
  );
}


p {
  color: yellow;
  text-align: center;
  font-size: 80px;
  font-weight: bolder;
  padding-top: 150px;
}
.main {
  padding-top: 80px;
  
}
.btn {
  display: block;
  margin: 0 570px;
}

