.Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.item {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  cursor: pointer;
}

.icon {
  color: green;
  font-size: 20px;
  transition: color 0.3s;
}
span {
  margin-left: 10px;
  font-size: 18px;
  color: white;
  transition: color 0.3s;
}
.item:hover {
  
  background: linear-gradient(
    110.1deg,
    rgba(87, 137, 87, 0.5) 2.9%,
    rgb(198, 243, 139) 90.3%
  );
}
.item:hover .icon {
  color: orange;
}
.image-map {
  width: 150px;
  height: 150px;
  
}
.image-map:hover {
  transform: scale(3);
}
