nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav a {
  font-size: 20px;
  text-decoration: none;
  font-weight: 500;
  color: yellow;
  transition: all 100ms ease-in-out;
}
 .logo {
  width: 40px;
  height: 40px;
 }